body {
    background: #9acebf;
    
}

.jumbotron {
    background: url(../images/Melissa_Williams_Lab_PaperPhoto_00008.jpg), url(../images/Melissa_Williams_Lab_PaperPhoto_00008image-right.jpg);
    background-position: left, right;
    background-color: black;
    color: whitesmoke;
    background-size: 35%, 35%;
    background-repeat: no-repeat, no-repeat;
   
    /* overflow: */
}

.container {
    background: whitesmoke;
  
}

#addTrain {
    margin-bottom: 10px;
}


.card {
    padding: 10px;
    margin-bottom: 10px;
}