body {
    background: #9acebf;
    
}

.jumbotron {
    background: #0b2432;
    color: whitesmoke;
}

.container {
    background: whitesmoke;
  
}

#addTrain {
    margin-bottom: 10px;
}


.card {
    padding: 10px;
    margin-bottom: 10px;
}